apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
    spec:
      serviceAccountName: {{ .Chart.Name }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{ . | toYaml | nindent 6 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{ . | toYaml | nindent 6 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity: {{ . | toYaml | nindent 6 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints: {{ . | toYaml | nindent 6 }}
      {{- end }}
      containers:
      - name: k8s-aws-operator
        image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
        resources: {{ .Values.resources | toYaml | nindent 10 }}
        args:
        - -region={{ required "aws.region is required" .Values.aws.region }}
        {{- if or .Values.leaderElection.enabled (gt (.Values.replicas | int) 1) }}
        - -leader-election-namespace={{ .Release.Namespace }}
        {{- end }}
        ports:
        - name: metrics
          containerPort: 8080
          protocol: TCP
