---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: eips.aws.k8s.logmein.com
spec:
  group: aws.k8s.logmein.com
  names:
    kind: EIP
    listKind: EIPList
    plural: eips
    singular: eip
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .status.publicIPAddress
      name: Public IP
      type: string
    - jsonPath: .status.assignment.privateIPAddress
      name: Private IP
      type: string
    - jsonPath: .status.assignment.podName
      name: Pod
      type: string
    - jsonPath: .status.assignment.eni
      name: ENI
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EIP is the Schema for the eips API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: EIPSpec defines the desired state of EIP
            properties:
              assignment:
                description: |-
                  Which resource this EIP should be assigned to.

                  If not given, it will not be assigned to anything.
                properties:
                  eni:
                    type: string
                  eniPrivateIPAddressIndex:
                    type: integer
                  podName:
                    minLength: 0
                    type: string
                  privateIPAddress:
                    type: string
                type: object
              publicIPAddress:
                type: string
              publicIPv4Pool:
                type: string
              publicIPv4Pools:
                items:
                  type: string
                type: array
              tags:
                additionalProperties:
                  type: string
                description: Tags that will be applied to the created EIP.
                type: object
            type: object
          status:
            description: EIPStatus defines the observed state of EIP
            properties:
              allocationId:
                type: string
              assignment:
                properties:
                  eni:
                    type: string
                  eniPrivateIPAddressIndex:
                    type: integer
                  podName:
                    minLength: 0
                    type: string
                  privateIPAddress:
                    type: string
                type: object
              associationId:
                type: string
              publicIPAddress:
                type: string
              state:
                description: |-
                  Current state of the EIP object.

                  State transfer diagram:

                                    /------- unassigning <----\--------------\
                                    |                         |              |
                   *start*:         V                         |              |
                  allocating -> allocated <-> assigning -> assigned <-> reassigning
                                    |             |
                    *end*:          |             |
                   releasing <------/-------------/
                type: string
            required:
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
