---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - aws.k8s.logmein.com
  resources:
  - eipassociations
  - eips
  - enis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aws.k8s.logmein.com
  resources:
  - eips/status
  - enis/status
  verbs:
  - get
  - patch
  - update
